{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime"
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}